& when (@media-common = true) {
& when (@critical = unsure), (@critical) {
    .breeze {
        .products-grid.slick-initialized,
        [data-content-type='products'][data-appearance='carousel'] {
            position: relative;
            display: grid; // preserve proper arrows position when hover-reveal is used

            &[data-show-dots="true"] {
                padding-bottom: 55px;
            }

            .product-items {
                // space for arrows
                padding-left: 50px;
                padding-right: 50px;

                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;
                scroll-behavior: smooth;
                scroll-snap-type: none;
                margin-bottom: 0;

                // hide scrollbar
                -ms-overflow-style: none;
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    display: none;
                }
            }

            &.slide-item-hovered {
                .product-items {
                    margin-top: -20px;
                    padding-top: 20px;
                    margin-bottom: -200px;
                    padding-bottom: 200px;
                    z-index: 3; // cover other below list content
                }
            }

            li.product-item {
                flex-shrink: 0;
                display: block;
                visibility: visible;
            }
        }
    }
}
}
