& when (@media-common = true) {
& when (@critical = unsure), (@critical) {
    :root {
        --animation-slide-in: slideIn 600ms cubic-bezier(0, 0, .3, 1) forwards;
    }

    @media (prefers-reduced-motion: no-preference) {
        .js #html-body.scroll-reveal-enabled .scroll-reveal {
            opacity: 0;
            visibility: hidden;
            will-change: opacity, transform, visibility;

            &.reveal-slide-in {
                transform: translateY(2rem);
            }

            &.reveal-ready {
                visibility: visible;
                animation: var(--animation, var(--animation-slide-in));
                animation-delay: ~"calc(var(--animation-order) * 75ms)";
            }
        }

        // hide animated elements until slider is rebuilt to fix flickering
        .js #html-body.scroll-reveal-enabled .scroll-reveal-container [data-content-type="slide"]:not(.slick-list > [data-content-type="slide"]) [data-element="content"] > button,
        .js #html-body.scroll-reveal-enabled .scroll-reveal-container [data-content-type="slide"]:not(.slick-list > [data-content-type="slide"]) [data-element="content"] > div > * {
            opacity: 0;
        }
    }

    @keyframes slideIn {
        from {
            transform: translateY(2rem);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
}