{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "globals": {
        "_": "readonly",
        "$": "readonly",
        "$t": "readonly",
        "breeze": "readonly",
        "dayjs": "readonly",
        "define": "readonly",
        "ko": "readonly"
    },
    "rules": {
        "camelcase": ["error", { "properties": "never" }],
        "comma-dangle": ["error", "only-multiline"],
        "no-extra-parens": [
            "error",
            "all",
            {
                "conditionalAssign": false,
                "enforceForNewInMemberExpressions": false,
                "nestedBinaryExpressions": false
            }
        ]
    },
    "ignorePatterns": ["view/frontend/web/js/lib/*"]
}
