<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Theme\Model\Design\Config\MetadataProvider">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="breeze_enabled" xsi:type="array">
                    <item name="path" xsi:type="string">design/breeze/enabled</item>
                    <item name="fieldset" xsi:type="string">other_settings/breeze</item>
                </item>
                <item name="breeze_excluded_urls" xsi:type="array">
                    <item name="path" xsi:type="string">design/breeze/excluded_urls</item>
                    <item name="fieldset" xsi:type="string">other_settings/breeze</item>
                </item>
                <item name="breeze_debug_mode" xsi:type="array">
                    <item name="path" xsi:type="string">design/breeze/debug</item>
                    <item name="fieldset" xsi:type="string">other_settings/breeze</item>
                </item>
                <!--
                <item name="breeze_turbo" xsi:type="array">
                    <item name="path" xsi:type="string">design/breeze/turbo</item>
                    <item name="fieldset" xsi:type="string">other_settings/breeze</item>
                </item>
                -->
            </argument>
        </arguments>
    </type>

    <type name="Magento\Deploy\Config\BundleConfig">
        <plugin name="swissup_breeze" type="Swissup\Breeze\Plugin\BundleConfig" />
    </type>
</config>
