<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Result\Page">
        <plugin name="swissup_breeze" type="Swissup\Breeze\Plugin\ViewResultPage" sortOrder="-1"/>
    </type>
    <type name="Magento\Framework\App\Config">
        <plugin name="swissup_breeze" type="Swissup\Breeze\Plugin\AppConfig"/>
    </type>
    <type name="Magento\Theme\Block\Html\Header\CriticalCss">
        <plugin name="swissup_breeze" type="Swissup\Breeze\Plugin\CriticalCss"/>
    </type>
    <type name="Magento\Catalog\Block\Widget\RecentlyViewed">
        <plugin name="swissup_breeze" type="Swissup\Breeze\Plugin\RecentlyViewedAndCompared" />
    </type>
    <type name="Magento\Catalog\Block\Widget\RecentlyCompared">
        <plugin name="swissup_breeze" type="Swissup\Breeze\Plugin\RecentlyViewedAndCompared" />
    </type>
    <type name="Magento\Catalog\Block\Product\View\Gallery">
        <plugin name="swissup_breeze" type="Swissup\Breeze\Plugin\ProductGallery" />
    </type>
    <type name="Magento\Swatches\Helper\Data">
        <plugin name="swissup_breeze" type="Swissup\Breeze\Plugin\SwatchesHelper" />
    </type>
    <type name="Magento\Swatches\Block\Product\Renderer\Configurable">
        <plugin name="swissup_breeze" type="Swissup\Breeze\Plugin\ConfigurableProductRenderer" />
    </type>

    <type name="Swissup\Breeze\Model\Filter">
        <arguments>
            <argument name="domFilters" xsi:type="array">
                <item name="script" xsi:type="object">Swissup\Breeze\Model\Filter\Dom\Script</item>
                <item name="collect_components" xsi:type="object">Swissup\Breeze\Model\Filter\Dom\CollectComponents</item>
                <item name="form_validation" xsi:type="object">Swissup\Breeze\Model\Filter\Dom\FormValidation</item>
                <item name="optimize_lazy_load" xsi:type="object">Swissup\Breeze\Model\Filter\Dom\PreloadCriticalImages</item>
            </argument>
            <argument name="strFilters" xsi:type="array">
                <item name="varnish" xsi:type="object">Swissup\Breeze\Model\Filter\Str\Varnish</item>
                <item name="inject_components" xsi:type="object">Swissup\Breeze\Model\Filter\Str\InjectComponents</item>
                <item name="inject_preload_links" xsi:type="object">Swissup\Breeze\Model\Filter\Str\InjectPreloadLinks</item>
            </argument>
        </arguments>
    </type>

    <type name="Swissup\Breeze\Model\JsBuild">
        <arguments>
            <argument name="minifier" xsi:type="object">jsMinificationAdapter</argument>
        </arguments>
    </type>

    <!-- Ability to render templates from web/template folder -->
    <type name="Swissup\Breeze\Model\HtmlTemplateFileResolution">
        <arguments>
            <argument name="resolver" xsi:type="object">Swissup\Breeze\View\FileResolver</argument>
        </arguments>
    </type>
    <virtualType name="Swissup\Breeze\View\FileResolver" type="Magento\Framework\View\Design\FileResolution\Fallback\Resolver\Simple">
        <arguments>
            <argument name="rulePool" xsi:type="object">Swissup\Breeze\Model\HtmlTemplateFileResolutionRulePool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Swissup\Breeze\View\FileSystem" type="Magento\Framework\View\FileSystem">
        <arguments>
            <argument name="fallbackTemplateFile" xsi:type="object">Swissup\Breeze\Model\HtmlTemplateFileResolution</argument>
        </arguments>
    </virtualType>
    <virtualType name="Swissup\Breeze\View\TemplateResolver" type="Magento\Framework\View\Element\Template\File\Resolver">
        <arguments>
            <argument name="viewFileSystem" xsi:type="object">Swissup\Breeze\View\FileSystem</argument>
        </arguments>
    </virtualType>
    <virtualType name="Swissup\Breeze\View\HtmlTemplateContext" type="Magento\Framework\View\Element\Template\Context">
        <arguments>
            <argument name="resolver" xsi:type="object">Swissup\Breeze\View\TemplateResolver</argument>
        </arguments>
    </virtualType>
    <type name="Swissup\Breeze\Block\HtmlTemplate">
        <arguments>
            <argument name="context" xsi:type="object">Swissup\Breeze\View\HtmlTemplateContext</argument>
        </arguments>
    </type>

    <!-- swissup/pagespeed -->
    <type name="Swissup\Pagespeed\Helper\Config">
        <plugin name="swissup_breeze" type="Swissup\Breeze\Plugin\SwissupPagespeed" />
    </type>
    <type name="Swissup\Ajaxpro\Helper\Config">
        <plugin name="swissup_breeze" type="Swissup\Breeze\Plugin\SwissupAjaxpro" />
    </type>
    <type name="Swissup\Ajaxpro\CustomerData\AbstractCustomerData">
        <plugin name="swissup_breeze" type="Swissup\Breeze\Plugin\SwissupAjaxproCustomerData" />
    </type>
    <type name="Swissup\ProLabels\Block\Product\Labels">
        <plugin name="swissup_breeze" type="Swissup\Breeze\Plugin\SwissupProLabels" />
    </type>
</config>
