& when (@media-common = true) {
    [data-role="password-strength-meter"] {
        display: none;
    }

    .breadcrumbs {
        min-height: 18px;
    }

    #notice-cookie-block:not([style]) {
        display: none;
    }
}

@import 'components/_gallery.less';
