.bz-scrollbar(
    @size: @bz-scrollbar__size,
    @border-radius: @bz-scrollbar__border-radius,
    @track-background-color: @bz-scrollbar__background-color,
    @thumb-background-color: @bz-scrollbar-thumb__background-color
) {
    &::-webkit-scrollbar {
        width: @size;
        height: @size;
    }
    &::-webkit-scrollbar-track {
        background-color: @track-background-color;
        border-radius: @border-radius;
    }
    &::-webkit-scrollbar-thumb {
        background-color: @thumb-background-color;
        border-radius: @border-radius;
    }
}

.bz-gallery-vertical() {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    .thumbnails {
        flex-direction: column;
        flex-wrap: nowrap;
        order: -1;
        max-height: @bz-gallery-vertical-thumb__max-height;
        .margin(@bz-gallery-vertical-thumb__margin);
        .padding-right(10px);
        padding-bottom: 0;
        overflow-y: overlay;
    }
}
