@bz-scrollbar__size: 6px;
@bz-scrollbar__border-radius: 10px;
@bz-scrollbar__background-color: ~"rgb(var(--scrollbar-bg, 230, 230, 230))";
@bz-scrollbar-thumb__background-color: ~"rgb(var(--scrollbar-color, 200, 200, 200))";

@bz-gallery-expanded__gap: 10px; // 0px|10px
@bz-gallery-expanded__columns-count: 2;

@bz-gallery-thumb__wrap: false;
@bz-gallery-thumb__gap: 5px;
@bz-gallery-thumb__margin: 5px 0 0;
@bz-gallery-vertical-thumb__margin: 0 5px 0 0;
@bz-gallery-vertical-thumb__padding-right: 5px;
@bz-gallery-vertical-thumb__max-height: 550px;

@bz-gallery-dots-thumb__gap: 10px;
@bz-gallery-dots-thumb__margin: 16px 0 0;
@bz-gallery-dots-thumb__width: 12px;
@bz-gallery-dots-thumb__height: @bz-gallery-dots-thumb__width;
@bz-gallery-dots-thumb__border-radius: 9999px;
@bz-gallery-dots-thumb__background: #e6e6e6;

@bz-carousel__padding-left: 15px;
@bz-carousel__padding-right: @bz-carousel__padding-left;
