#notice-cookie-block:not([style]) {
    display: none;
}

.breeze-gallery {
    display: flex;
    flex-direction: column;
}
.breeze-gallery .prev,
.breeze-gallery .next {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    left: 0;
    top: 50%;
    width: 40px;
    height: 80px;
    margin-top: -40px;
    z-index: 11;
}
.breeze-gallery .next svg,
.breeze-gallery .prev svg {
    width: 24px;
    height: 24px;
    vertical-align: top;
}
.breeze-gallery .close {
    display: none;
    position: absolute;
}
.breeze-gallery .next {
    left: auto;
    right: 0;
}
.breeze-gallery .controls {
    visibility: hidden;
    position: absolute;
}
.breeze-gallery img {
    vertical-align: top;
    height: auto;
    max-height: none;
}
.breeze-gallery .stage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.breeze-gallery .stage > div:first-child,
.breeze-gallery .stage .main-image-wrapper,
.breeze-gallery .stage .main-image-wrapper > picture {
    position: relative;
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}
.breeze-gallery .thumbnails {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: nowrap;
    overflow: auto;
    gap: 5px;
    margin: 5px 0 0;
    padding-bottom: 4px;
}
.breeze-gallery .thumbnails .item {
    position: relative;
    flex-shrink: 0;
    margin: 0 5px 5px 0;
}
.breeze-gallery.expanded:not(.opened) .stage,
.breeze-gallery.expanded:not(.opened) .thumbnails {
    display: none;
}
.breeze-gallery .images {
    --gallery-columns-count: 2;
    --gallery-columns-gap: 10px;
    display: flex;
    position: relative;
    gap: var(--gallery-columns-gap);
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
}
.breeze-gallery .images .item {
    max-width: 100%;
    scroll-snap-align: center;
    text-align: center;
    cursor: zoom-in;
}

@media (min-width: 768px) {
    .breeze-gallery.vertical {
        flex-direction: row;
    }
    .breeze-gallery.vertical .thumbnails {
        flex-direction: column;
        order: -1;
        max-height: 550px;
        margin: 0 5px 0 0;
    }
    .breeze-gallery .images {
        overflow: visible;
        flex-wrap: wrap;
    }
    .breeze-gallery .images .item {
        width: calc((100% - (var(--gallery-columns-gap) * var(--gallery-columns-count) - var(--gallery-columns-gap))) / var(--gallery-columns-count));
    }
}
